* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  background-color: rgba(13, 17, 23, 0.6352941176);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 0px 25px;
}

.header .container {
  max-width: 1250px;
  margin: auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__logo:hover {
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  position: relative;
  color: white;
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__link::before {
  content: "";
  position: absolute;
  left: -1px;
  bottom: -5px;
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: #218bff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__link:hover {
  color: #218bff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__link:hover::before {
  width: 100%;
}

.header .active {
  color: #218bff;
}

html,
body {
  height: 100%;
  font-family: Poppins, sans-serif;
  background-color: #0d1117;
}

html h2,
body h2 {
  color: white;
  font-size: 60px;
  padding-bottom: 50px;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1250px;
  margin: auto;
  margin-top: 250px;
  padding: 0px 25px;
}

.line {
  margin: 20px 5px;
  height: 0%;
  width: 2px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.code {
  color: white;
  font-size: 26px;
  margin-left: -7px;
}

.show {
  height: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5px;
}

.about__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__line .circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0.5;
}

.about__line .line {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(123, 114, 255, 0.2274509804)), to(#7c72ff));
  background: linear-gradient(to bottom, rgba(123, 114, 255, 0.2274509804), #7c72ff);
}

.about__content {
  padding: 50px 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content h2 {
  color: white;
  font-size: 60px;
  padding: 25px 0px;
}

.about__content p {
  padding: 30px 0px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.about__image {
  max-width: 400px;
}

.about__image img {
  max-width: 100%;
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
}

.tehnologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tehnologies__line .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#7c72ff), color-stop(80%, #2da44e), to(#3fb950));
  background: linear-gradient(#7c72ff, #2da44e 80%, #3fb950);
}

.tehnologies__line .code {
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.5s;
  transition: all 0.2s ease 0.5s;
}

.tehnologies__line .well {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 5px #7c72ff);
          filter: drop-shadow(0 0 5px #7c72ff);
}

.tehnologies__content {
  padding: 50px 100px;
  width: 100%;
}

.tehnologies__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
  grid-template-columns: repeat(4, 200px);
  gap: 93.333px;
  margin: 25px 0px;
}

.tehnologies__cards .card {
  max-width: 200px;
  border-radius: 25px;
  border: 1px solid #30363d;
  background-color: #161b22;
  padding: 30px;
}

.tehnologies__cards .card p {
  padding: 25px 0px 0px 0px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.tehnologies__cards .card__image {
  height: 150px;
  max-width: 138px;
}

.tehnologies__cards .card__image img {
  max-width: 100%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
}

.projects__line .img {
  margin-left: -7.5px;
  margin-bottom: 5px;
  width: 28px;
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.5s;
  transition: all 0.2s ease 0.5s;
}

.projects__line .img img {
  max-width: 100%;
}

.projects__line .well {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 5px #3fb950);
          filter: drop-shadow(0 0 5px #3fb950);
}

.projects__line .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#3fb950), to(#33b3ae));
  background: linear-gradient(to bottom, #3fb950, #33b3ae);
}

.projects__content {
  padding: 50px 100px;
  width: 100%;
}

.projects__title {
  width: 100%;
  margin-top: 5px;
}

.projects__cards {
  margin: 25px 0px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
  grid-template-columns: repeat(3, 300px);
  gap: 90px;
}

.projects__cards .card {
  max-width: 300px;
  overflow: hidden;
  border: 1px solid #30363d;
  background-color: #161b22;
  border-radius: 25px;
  text-align: center;
}

.projects__cards .card .image img {
  border-radius: 25px 0px 0px 0px;
  width: 100%;
  height: auto;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__cards .card h5 {
  height: 65px;
  font-weight: 500;
  padding: 15px 15px;
  text-align: center;
  font-size: 24px;
  color: white;
}

.projects__cards .card p {
  min-height: 150px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 15px 22px;
  text-align: left;
  line-height: 21px;
}

.projects__cards .card .stack {
  min-height: 80px;
  color: #218bff;
  font-size: 16px;
  font-weight: 300;
}

.projects__cards .card .git-links {
  padding: 15px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.projects__cards .card .git-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.projects__cards .card .git-links a:hover {
  color: #218bff;
}

.projects__cards .card .git-links a:hover svg {
  stroke: #218bff;
}

.projects__cards .card .git-links a:hover .git-svg {
  stroke: inherit;
  fill: #218bff;
}

.projects__cards .card .git-links svg {
  margin-right: 5px;
  stroke: white;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.projects__cards .card .git-links .git-svg {
  stroke: inherit;
  fill: white;
}

.contacts {
  padding: 75px 0px 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__line img {
  margin: 0px 0px 5px -8px;
  max-width: 28px;
  max-height: 28px;
}

.contacts__line .contact {
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.5s;
  transition: all 0.2s ease 0.5s;
}

.contacts__line .show {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 5px #33b3ae);
          filter: drop-shadow(0 0 5px #33b3ae);
}

.contacts__line .line {
  background: -webkit-gradient(linear, left top, left bottom, from(#33b3ae), to(#f778ba));
  background: linear-gradient(to bottom, #33b3ae, #f778ba);
}

.contacts__line .code {
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.5s;
  transition: all 0.2s ease 0.5s;
}

.contacts__line .well {
  opacity: 1;
  -webkit-filter: drop-shadow(0 0 5px #f778ba);
          filter: drop-shadow(0 0 5px #f778ba);
}

.contacts__content {
  padding: 50px 100px;
  width: 100%;
}

.contacts__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[4];
  grid-template-columns: repeat(4, 200px);
  gap: 93.333px;
}

.contacts__cards .card {
  max-width: 200px;
  border: 1px solid #30363d;
  background-color: #161b22;
  border-radius: 35px;
  overflow: hidden;
  text-align: center;
}

.contacts__cards .card img {
  max-width: 100%;
}

.contacts__cards .card p {
  color: white;
  font-size: 18px;
  padding: 15px 0px;
}

.footer {
  margin-top: 100px;
  height: 120px;
  background-color: #161b22;
  color: #768d97;
  width: 100%;
}

.footer__content {
  height: 100%;
  max-width: 1250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title h6 {
  padding: 25px 0px;
}

.footer__links {
  list-style: none;
  padding-top: 25px;
}

.footer__links .list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links .list li {
  margin-left: 50px;
  max-width: 50px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__links .list li:hover {
  -webkit-filter: drop-shadow(0 0 5px white);
          filter: drop-shadow(0 0 5px white);
}

.footer__links .list img {
  max-width: 100%;
}

.footer__text {
  padding-bottom: 25px;
  background-color: #161b22;
  text-align: center;
  background-position: bottom;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1004px;
  }

  .about__content {
    padding: 50px 55px;
    width: 100%;
  }

  .about__image {
    max-width: 350px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (190px)[4];
    grid-template-columns: repeat(4, 190px);
    gap: 40px;
  }

  .tehnologies__content {
    padding: 50px 55px;
  }

  .projects__content {
    padding: 50px 55px;
  }

  .projects__cards {
    -ms-grid-columns: (284px)[3];
    grid-template-columns: repeat(3, 284px);
    gap: 20px;
  }

  .contacts__content {
    padding: 50px 55px;
  }

  .contacts__cards {
    -ms-grid-columns: (190px)[4];
    grid-template-columns: repeat(4, 190px);
    gap: 40px;
  }

  .footer__content {
    max-width: 1004px;
  }
}

@media (max-width: 1024px) {
  .header__link {
    margin-left: 30px;
  }

  .container {
    max-width: 910px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (200px)[3];
    grid-template-columns: repeat(3, 200px);
    gap: 70px;
  }

  .projects__cards {
    -ms-grid-columns: (300px)[2];
    grid-template-columns: repeat(2, 300px);
    gap: 120px;
  }

  .contacts__cards {
    -ms-grid-columns: (200px)[3];
    grid-template-columns: repeat(3, 200px);
    gap: 70px;
  }

  .footer__content {
    max-width: 860px;
  }
}

@media (max-width: 880px) {
  .header__link {
    margin-left: 10px;
  }

  .container {
    max-width: 798px;
  }

  .about h2 {
    font-size: 48px;
  }

  .about p {
    font-size: 20px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (190px)[3];
    grid-template-columns: repeat(3, 190px);
    gap: 45px;
  }

  .tehnologies__content {
    padding: 50px 25px;
  }

  .projects__content {
    padding: 50px 25px;
  }

  .projects__cards {
    -ms-grid-columns: (300px)[2];
    grid-template-columns: repeat(2, 300px);
    gap: 70px;
  }

  .contacts__cards {
    -ms-grid-columns: (190px)[3];
    grid-template-columns: repeat(3, 190px);
    gap: 45px;
  }

  .contacts__content {
    padding: 50px 25px;
  }

  .footer__content {
    max-width: 748px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .header__logo {
    margin: auto;
  }

  .about {
    width: 100%;
  }

  .about__content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content h2 {
    text-align: center;
  }

  .about__content p {
    padding: 15px 0px;
  }

  .about__image {
    max-width: 300px;
  }

  .container {
    max-width: 690px;
    margin-top: 150px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (45%)[2];
    grid-template-columns: repeat(2, 45%);
    gap: 60px;
  }

  .tehnologies__cards .card {
    margin: auto;
  }

  .tehnologies__content {
    padding: 50px 25px;
  }

  .projects__content {
    padding: 50px 15px;
  }

  .projects__cards {
    -ms-grid-columns: (285px)[2];
    grid-template-columns: repeat(2, 285px);
    gap: 10px;
  }

  .projects__cards .card {
    margin: auto;
  }

  .contacts__cards {
    -ms-grid-columns: (45%)[2];
    grid-template-columns: repeat(2, 45%);
    gap: 60px;
  }

  .contacts__cards .card {
    margin: auto;
  }

  .contacts__content {
    padding: 50px 25px;
  }

  .footer__content {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  html h2,
  body h2 {
    font-size: 45px;
  }

  .container {
    margin-top: 100px;
    max-width: 480px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (150px)[2];
    grid-template-columns: repeat(2, 150px);
    gap: 40px;
  }

  .tehnologies__cards .card {
    margin: auto;
    padding: 20px;
  }

  .tehnologies__cards .card__image {
    height: 120px;
  }

  .tehnologies__cards .card p {
    font-size: 18px;
  }

  .tehnologies__content {
    padding: 50px 25px;
  }

  .projects__content {
    padding: 50px 25px;
  }

  .projects__cards {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
    gap: 25px;
  }

  .projects__cards .card {
    margin: auto;
  }

  .contacts__cards {
    -ms-grid-columns: (150px)[2];
    grid-template-columns: repeat(2, 150px);
    gap: 40px;
  }

  .contacts__content {
    padding: 50px 25px;
  }

  .footer__content {
    max-width: 480px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__links {
    display: none;
  }
}

@media (max-width: 480px) {
  html h2,
  body h2 {
    font-size: 36px;
  }

  .container {
    max-width: 370px;
  }

  .about__content {
    padding: 50px 20px;
  }

  .about__content h2 {
    font-size: 40px;
  }

  .about__content p {
    padding: 0px;
  }

  .about__image {
    max-width: 200px;
  }

  .tehnologies__cards {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }

  .tehnologies__cards .card {
    margin: auto;
    padding: 30px;
  }

  .tehnologies__cards .card__image {
    height: 150px;
  }

  .tehnologies__content {
    padding: 50px 5px;
  }

  .projects__content {
    padding: 50px 5px;
  }

  .projects__cards .card h5 {
    height: 100px;
  }

  .contacts__cards {
    -ms-grid-columns: (100%)[1];
    grid-template-columns: repeat(1, 100%);
  }

  .contacts__cards .card {
    margin: auto;
  }

  .contacts__content {
    padding: 50px 5px;
  }
}